#container
    #logo
    #cr-stage
    #goodguy.hud
    #badguy.hud
    #badhand.hud
    #goodhand.hud

    #goodscore.hud 0
    #badscore.hud 0

    #choosegood.hud Part of the solution!
    #choosebad.hud Part of the problem!

    iframe#node_vote.hud(src="http://nodeknockout.com/iframe/jelly-butter-peanut", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")

    #credits
        | Code and concept by <a href='http://www.twitter.com/jasonmcleod' target='_blank'>@jasonmcleod</a> and <a href='https://github.com/jcbarry' target='_blank'>@jcbarry</a>.
        | Artwork by <a href='http://visualplastik.com' target='_blank'>@visualplastik.</a>
        | Music courtesy of <a href='http://www.mattmcfarland.com/' target='_blank'>Matt McFarland</a>