!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/lib/jquery.js')
    script(src='/lib/crafty.js')
    script(src='/javascripts/components.js')
    script(src='/javascripts/game.js')
    script(src='/javascripts/render.js')

    link(href='http://fonts.googleapis.com/css?family=Aldrich|Bangers|VT323', rel='stylesheet', type='text/css')

  body!= body